Checks: 'bugprone-*,
lang-diagnostic-*,
lang-analyzer-*,
clang-analyzer-*,
performance-*,
cppcoreguidelines-avoid-goto,
cppcoreguidelines-narrowing-conversions,
cppcoreguidelines-no-malloc,
-clang-diagnostic-c++11-narrowing,
-bugprone-dynamic-static-initializers'

# Note(Antony): the linter so far generate too many critical warnings.
# Comment out good-to-have but less critical ones.
#readability-identifier-naming,
#modernize-pass-by-value,
#modernize-use-bool-literals,
#modernize-use-emplace,
#modernize-use-nodiscard,
#modernize-use-nullptr,
#modernize-use-using'

UseColor: true
WarningsAsErrors: ''
#HeaderFilterRegex: '\.\./.*'
#AnalyzeTemporaryDtors: false
FormatStyle: Google
