Checks: 'bugprone-*,
lang-diagnostic-*,
lang-analyzer-*,
clang-analyzer-*,
performance-*,
modernize-*,
cppcoreguidelines-avoid-goto,
cppcoreguidelines-narrowing-conversions,
cppcoreguidelines-no-malloc,
-clang-diagnostic-c++11-narrowing,
-modernize-use-trailing-return-type,
-modernize-concat-nested-namespaces,
-modernize-avoid-c-arrays,
-bugprone-dynamic-static-initializers'

UseColor: true
WarningsAsErrors: ''
#HeaderFilterRegex: '\.\./.*'
#AnalyzeTemporaryDtors: false
FormatStyle: Google
